{% extends "base.html.twig" %}

{% block body %}
<div class="jumbotron">
  <h1 class="display-3">Le {{ date }} à {{time}}</h1>
  <p class="lead">De fuseau horaire de Paris.</p>
  <hr class="my-4">
    <a class="btn btn-primary btn-lg" href="/" role="button">Retour à l'accueil</a>
  </p>
</div>
{% endblock %}