{% extends "base.html.twig" %}

{% block body %}
<h1 class="text-success">VERT</h1>
<p class="green">Le texte est de couleur vert</p>

<div class="card text-white bg-success mb-3" style="max-width: 20rem;">
  <div class="card-header">Carte Vert</div>
  <div class="card-body">
    <h4 class="card-title">Titre Vert</h4>
    <p class="card-text">Equitis Romani autem esse filium criminis loco poni ab accusatoribus neque his iudicantibus oportuit neque defendentibus nobis. Nam quod de pietate dixistis, est quidem ista nostra existimatio, sed iudicium certe parentis.</p>
  </div>
</div>
<a class="btn btn-success btn-lg" href="/" role="button">Retour à l'accueil</a>
{% endblock %}