{% extends "base.html.twig" %}

{% block body %}
<h1 class="text-warning">ORANGE</h1>
<p class="orange">Le texte est de couleur orange</p>
<div class="card text-white bg-warning mb-3" style="max-width: 20rem;">
  <div class="card-header">Carte Orange</div>
  <div class="card-body">
    <h4 class="card-title">Titre Orange</h4>
    <p class="card-text">Equitis Romani autem esse filium criminis loco poni ab accusatoribus neque his iudicantibus oportuit neque defendentibus nobis. Nam quod de pietate dixistis, est quidem ista nostra existimatio, sed iudicium certe parentis.</p>
  </div>
</div>
<a class="btn btn-warning btn-lg" href="/" role="button">Retour à l'accueil</a>
{% endblock %}