{% extends "base.html.twig" %}

{% block body %}
<h1 class="text-danger">RED</h1>
<p class="red">Le texte est de couleur rouge</p>

<div class="alert alert-dismissible alert-danger">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  <h4 class="alert-heading">Warning!</h4>
  <p class="mb-0">Attention risque de virus !!!!!</p>
</div>
<a class="btn btn-danger btn-lg" href="/" role="button">Retour à l'accueil</a>
{% endblock %}